.DS_Store
*/**/.DS_Store
node_modules/
components
node_modules
bower_components
books
lib
documentation/html
types/*.js
# Ignore generated JS and type files in utils
src/utils/*.js
src/utils/*.d.ts
# Ignore test specs for linting, but allow .spec.ts for commit
src/**/*.spec.js